**/.DS_Store
**/.ipynb_checkpoints/
model/
tensorboard/
covtype.data*
*.pyc
*.log
*.out
**/*.gz
**/inception_v3_2016_08_28
deep-learning-ex1.py
**/*.mat
**/resized_*
**/checkpoints/*
**/graphs/*
**/outputs/*
