**/.DS_Store
**/.ipynb_checkpoints/
tensorboard/
covtype.data*
*.pyc
*.log
*.out
**/*.gz
**/*.ckpt
deep-learning-ex1.py
**/*.mat
**/resized_*
**/checkpoints/*
**/checkpoint
**/graphs/*
**/outputs/*
**/cifar10_data
**/.idea/*
**/*.p
**/cifar-10-batches-py/
**/model*
